@use  "./help" as * ;
.arrange{
    z-index: 100;
    position: absolute;
    right: 126px;
    top: 1px;
    width: 158px;
  
    .triangle{
        top: 9px ;
        left: 149px ;
        transform: rotate(90deg);
    }
}
.invite{
    h3{
        margin: 0;
    }
}
.modal__close{

}
.modal-share{
    z-index: 100;
    max-width: 287px;
    position: absolute;
    top: 10% ;
    left: 35% ;
    border-radius: 10px;
    background-color: white;
    
}
.cover{
    position: fixed;
    width: 100%;
    height: 150vh;
    background-color:black;
    opacity: 0.2;
    top: 1px;
}
.modal-title{
    z-index: 100;
    position: absolute;
    top: 10% ;
    left: 30% ;
    border-radius: 10px;
    background-color: white;
    z-index: 100;

}
.popup{
    .form__group {
        margin-bottom: 1.2rem;
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
      } 
}
.dlt-title{
    position: absolute;
    top: 10% ;
    left: 30% ;
    border-radius: 10px;
    background-color: white;
    z-index: 100; 
}
.file{
    margin-left: 15px;
}
.invite{
    top: 106%;
    right: -16px;
    z-index: 100;
    .modal__add{
        position: relative;
    }
    .triangle{
top:-5px;
right:20px;
    }
}
.title-password{
    position: sticky;
    top: 10% ;
    left: 30% ;
    border-radius: 10px;
    background-color: white;
    z-index: 100; 
  max-width: 400px;
    .form__group{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }
}
.search-header__history{
    margin-right: 21px;
}
.history-password{
    position: absolute;
    top: -1% ;
    left: -78% ;
    border-radius: 10px;
    background-color: white;
    z-index: 100;
    .form__group{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }
}
.table{
 
    .popup{
        position: absolute;
  right: 8px;
  top: 39px;
  z-index: 100;
        .triangle{
            top: -11px;
            right: 5px;
                }
    }
    .Xbtn{
        position: fixed;
top: 0px;
left: 30%;
    }
}

#card-redact{
   
   
    border-radius: 10px;
    background-color: white;
    z-index: 100; 
    max-width: 540px;
    .form__group{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }
    
}
#card-move{
    .menu{
        .triangle{
            left: -10%;
            transform: rotate(270deg) ;
        }
    }
}
#card-dlt {
   
   
    border-radius: 10px;
    background-color: white;
    z-index: 100;
    width: 300px;
    display: flex;
    align-items: center;
  }
  .settings-drop{
  
    .side-link{
        width: 140px;
    }
    .menu{
        .triangle{
            top: 8px;
            left: 100%;
            transform: rotate(90deg);
        }
    }
 
  }
  .table-password{
    position: absolute;
    z-index: 100;
    background-color: white;
    border-radius: 10px;
    top: 10%;
    left: 30vw;
    
  }
  .table{
    #move{
        top:10px;
        left: 34px;
    }
    #tie{
        top: 10px;
        left: 34px;
    }
    .dlt-title{
        top: 10%;
        left: 30vw;
    }
    #dlt{
        position: absolute;
        z-index: 100;
        top: 10%;
        left: 30vw;
        background-color: white;
        border-radius: 10px;
        max-width: 258px;
    }
  }
  .settings-drop{
    position: absolute;
    z-index: 100;
  } 
  #menu-tit{
    font-weight: 600;
font-size: 10px;
line-height: 18px;
}
.pass{
    visibility: hidden;
    opacity: 0;
}

.popup{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 100;
}

.table-popup{
    background-color: #F7F8F9;
max-width: 207px;
padding: 5px;
border-radius: 10px;
}
// .btn-active{
//     visibility: visible;
//     opacity: 1;
// }cardSet
.settings-drop{
    background-color: #F7F8F9;
max-width: 150px;
padding: 5px;
border-radius: 10px;
}

.cardSet {
    position: absolute;
    right: 0px;
    top: 35px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
  }
  .cardSet .triangle {
    top: -11px;
    right: 5px;
  }  
  .cardSide{
    .triangle{
     
        left: -11% !important;
        transform: rotate(270deg) !important;
    }
  }
  .popcenter{
    position: fixed;

    top: 98px;
    left: 39%;
}
.popup-side{
    z-index: 200!important;
}
#settings-carry{
    background-color: #F7F8F9;
max-width: 207px;
padding: 5px;

}
#settings-create{
    max-width: 287px;
    background-color: white;
    border-radius: 10px;
}
.settings {
 path{
    pointer-events: none;
 }
}
.settingsMenu{
    right:24px;
    background-color: #F7F8F9;
    border-radius: 10px;
    padding:3.5px 5px;
    top: 50px;
    
    .triangle {
        top: -10px;
        left: 85%;
        transform: rotate(0deg);
      }
}
#title-pass{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.popup{
    
}
.popcenter{
    background-color: white;
    border-radius: 10px;
}
.btns{
    svg{
        pointer-events: none;
        path{
            pointer-events: none;
        }
    }
}
.btns{
    
    path{
        pointer-events: none;
    }
}

    