
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/open-sans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/open-sans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/open-sans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


$red:  rgba(178, 0, 0, 1) ;
$white :  rgba(255, 255, 255, 1);
$blue:  #0063C6 ;
$gray: #848B94;
$black:#525C69 ;
$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #2FC6F6;
$color-gray: #A8ADB4;
$color-blue-light: #C6EEFC;
.container{
    max-width: 1920px;
    margin: 0 auto;

   
    
}

body{
 background-image: url(../img/bg.jpg);
  font-family:OpenSans;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow-x: hidden;
}



h2{
  color: white;
  font-weight: 300;
font-size: 27px;
line-height: 37px;
}

.proj-con{
  display: grid;
  grid-template-columns:repeat(auto-fit, 248px) ;
  grid-gap: 15px;
 
  transition:  0.3s opacity ease-in, 0.3s height ease-in-out ;
}
div{
  transition:  0.3s opacity ease-in, 0.3s height ease-in-out ;
}
section:not(:last-child){
  margin-bottom: 11px;
}
.acc-con{

}
.acc-open{
  pointer-events: auto;
  display: grid!important;

}
.accBtn-active{
  transform: rotate(180deg)!important;
}
.acc-closed{
height: 0!important;
opacity: 0!important;
pointer-events: none;
}
main{
  padding: 0 12px;

}
svg{
  cursor: pointer;
  transition: outline 0.3s ease-in-out,transform 0.3s ease-in-out;
  outline: 1px solid transparent;

  
}

svg:focus:not(:hover):not(:active){
  outline-color: #0063C6;
}
svg:active{
  transform: scale(1.3);
}
.acc-btn{
width:20px;
height: 20px;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255,0.5) ;
  margin-bottom: 10px;
  padding: 0 10px 13px  10px;
  &-parentCon{
    display: flex;
    align-items: center;
    
  }
  &-childCon{
    display: flex;
    background-color: #FFFFFF26;
    border-radius: 30px;
    padding:  8px 16px;
    align-items: center;
    margin-right: 20px;
    svg{
      height: 17px;
     margin-right: 4px;
    }
    h3{
      font-weight: 400;
font-size: 14px;
line-height: 14px;
color: white;

    }
    h3:first-of-type{
      padding-right: 15px;
      border-right: 1px solid rgba(255, 255, 255,0.3) ;
    }
  }
}
.password_table{
  h3:first-of-type{
    padding: 0;
   border: none ;
  }
}
.settings:active{
  transform: rotate(360deg);

}

.pop > * {
  transition: 0.5s opacity ease-in, 0.5s height ease-in-out;
}


