@use  "./help" as * ;
.table{

    background-color: #fff;
    border-radius: 10px;
    padding: 15px 12px;
   
    &-row{
 
   border-bottom: 2px solid #C6CDD3;

   .table-row__div{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
 display: grid;
 grid-template-columns: 18% 23% 13% 13% 18% 13% 1%;
position: relative;
 white-space: nowrap;
 padding: 14px 0;
   }
   svg{
    width: 16px;
    height: 16px;  
   }
    }
    &-head{
      display: grid;
      grid-template-columns: 18% 23% 13% 13% 18% 13% 1%;
      padding-bottom: 16px;
      border-bottom: 2px solid #C6CDD3;
      color: $gray;

h4{
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color:  #525C69;
}
    }
     &-rows:not(:last-child){
     margin-bottom: 17px;
    }
    &-pagination >  *:not(:last-child){
      margin-right: 14px;
    }
    &-pagination{
      display: flex;
      align-items: center;
     
      &__num{
        color: $blue;
        font-weight: 600;
font-size: 11px;

word-spacing: 15px;
      }
      &__title{
        font-weight: 700;
font-size: 11px;
line-height: 15px;
color:#848B94;
      }
      &__pag > *:not(:last-child){
        margin-right: 14px;
      }
      &__pag{
        display: flex;
        align-items: center;
        color: $blue;
        font-weight: 700;
font-size: 11px;
line-height: 15px;
        svg:first-of-type{
          transform: rotate(180deg);
        }
        
      }
    }
  }
  .history_table{
    .table-head{
      div{
        display: grid;
        grid-template-columns: repeat(3,190px);
        grid-column-gap: 27vw;
      }
    
     
    }
  
    .table-row{
     
      div{
        display: grid;
        grid-template-columns: repeat(3,190px);
        grid-column-gap: 27vw;
      }
      
    }
  }
 