@use  "./help" as * ;
.arrange{
    z-index: 100;
    position: absolute;
    right: 126px;
    top: 1px;
    width: 158px;
  
    .triangle{
        top: 9px ;
        left: 149px ;
        transform: rotate(90deg);
    }
}
.invite{
    h3{
        margin: 0;
    }
}
.modal__close{

}
.modal-share{
    z-index: 100;
    max-width: 287px;
    position: absolute;
    top: 16% ;
    left: 35% ;
    border-radius: 10px;
    background-color: white;
    
}
.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0.2;
    top: 1px;
}
.modal-title{
    z-index: 100;
    position: absolute;
    top: 16% ;
    left: 30% ;
    border-radius: 10px;
    background-color: white;
    z-index: 100;
    .form__group {
        margin-bottom: 1.2rem;
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
      }
}
.dlt-title{
    position: absolute;
    top: 16% ;
    left: 30% ;
    border-radius: 10px;
    background-color: white;
    z-index: 100; 
}
.file{
    margin-left: 15px;
}
.invite{
    top: 106%;
    right: -16px;
    .modal__add{
        position: relative;
    }
    .triangle{
top:-5px;
right:20px;
    }
}
.title-password{
    position: absolute;
    top: 16% ;
    left: 30% ;
    border-radius: 10px;
    background-color: white;
    z-index: 100; 
  
    .form__group{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }
}
.search-header__history{
    margin-right: 21px;
}
.history-password{
    position: absolute;
    top: -1% ;
    left: -78% ;
    border-radius: 10px;
    background-color: white;
    z-index: 100;
    .form__group{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }
}
.cardSet{
    position: absolute;
    right: 3px;
    top: 35px;
    .triangle{
        top: -11px;
        right: 5px;
            }
}
.redact-pop{
    position: absolute;
    top: 16%;
    left: 30vw;
    border-radius: 10px;
    background-color: white;
    z-index: 100; 
    max-width: 540px;
    .form__group{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }
    
}
.dlt-title {
    position: absolute;
    top: 16%;
    left: 30vw;
    border-radius: 10px;
    background-color: white;
    z-index: 100;
    width: 300px;
    display: flex;
    align-items: center;
  }
  .settings-drop{
    position: absolute;
    left: 129px;
    top: -4px;
    z-index: 100;
    .side-link{
        width: 140px;
    }
    .triangle{
        top: 6px;
right: 5px;
    }
  }